<div margin="5px" padding="5px"><p></p></div>
<div class="footer">
   <p>Dungeon Dictionary</p>
   <p>Created with inspiration from <a href="https://valloric.github.io/statblock5e/">Statblock5e</a> and <a href="https://tetra-cube.com/dnd/dnd-statblock.html">Tetra-Cube</a>.</p>
   <p></p>
</div>
