<div id="input">
            <button type="button" onclick="generateStatblock()">Generate Statblock</button>
            <!--Type-->
            <table id="type-form">
                <tbody>
                    <tr>
                        <td>
                            <label for="name-input">
                                Name:
                                <br>
                                <input id="name-input" type="text" value="Monster">
                            </label>
                        </td>
                        <td>
                            <label for="size-input">
                                Size:
                                <br>
                                <select id="size-input">
                                    <option value="tiny">Tiny</option>
                                    <option value="small">Small</option>
                                    <option value="medium" selected="selected">Medium</option>
                                    <option value="large">Large</option>
                                    <option value="huge">Huge</option>
                                    <option value="gargantuan">Gargantuan</option>
                                </select>
                            </label>
                        </td>
                        <td>
                            <label for="type-input">
                                Type:
                                <br>
                                <select id="type-input">
                                    <option value="aberration">Aberration</option>
                                    <option value="beast">Beast</option>
                                    <option value="celestial">Celestial</option>
                                    <option value="construct">Construct</option>
                                    <option value="dragon">Dragon</option>
                                    <option value="elemental">Elemental</option>
                                    <option value="fey">Fey</option>
                                    <option value="fiend">Fiend</option>
                                    <option value="giant">Giant</option>
                                    <option value="humanoid" selected="">Humanoid</option>
                                    <option value="monstrosity">Monstrosity</option>
                                    <option value="ooze">Ooze</option>
                                    <option value="plant">Plant</option>
                                    <option value="undead">Undead</option>
                                </select>
                            </label>
                        </td>
                        <td>
                            <label for="tag-input">
                                Tag:
                                <br>
                                <input id="tag-input" type="text">
                            </label>
                        </td>
                        <td>
                            <label for="alignment-input">
                                Alignment:
                                <br>
                                <input id="alignment-input" type="text" value="neutral">
                            </label>
                        </td>
                    </tr>
                </tbody>
            </table>

            <!--HP-->
            <table id="armor-hp-form">
                <tr>
                    <td>
                        <label for="hp-input">
                            Hitpoints:
                            <br>
                            <input id="hp-input" type="text" value="4 (1d8)">
                        </label>
                    </td>
                    <td>
                        <label for="ac-input">
                            Armor Class:
                            <br>
                            <input id="ac-input" type="text" value="16 (natural armor)">
                        </label>
                    </td>
                </tr>
            </table>

            <!--Speed-->
            <table id="speed-form">
                <tbody>
                    <tr>
                        <td id="normal-speed" style>
                            <label for="normal-input">
                                Speed:
                                <br>
                                <input type = "number" id = "normal-input" min = "0" max = "95" step = "5"value = "30">
                                ft.
                            </label>
                        </td>
                        <td id="burrow-speed" style>
                            <label for="burrow-input">
                                Burrow Speed:
                                <br>
                                <input type = "number" id = "burrow-input" min = "0" max = "95" step = "5" value = "0">
                                ft.
                            </label>
                        </td>
                        <td id="climb-speed" style>
                            <label for="climb-input">
                                Climb Speed:
                                <br>
                                <input type = "number" id = "climb-input" min = "0" max = "95" step = "5" value = "0">
                                ft.
                            </label>
                        </td>
                        <td id="fly-speed" style>
                            <label for="fly-input">
                                Fly Speed:
                                <br>
                                <input type = "number" id = "fly-input" min = "0" max = "95" step = "5" value = "0">
                                ft.
                            </label>
                        </td>
                        <td id="swim-speed" style>
                            <label for="swim-input">
                                Swim Speed:
                                <br>
                                <input type = "number" id = "swim-input" min = "0" max = "95" step = "5"value = "0">
                                ft.
                            </label>
                        </td>
                    </tr>
                </tbody>
          </table>
          <!--Stats-->
          <table id="stats-form">
                <tbody>
                    <tr>
                        <td>
                            <label for="str-score">
                                STR:
                                <br>
                                <input type="number" id="str-score" min="1" max="20" value="10" onchange="updateMod('str')">
                                (
                                <span id="str-mod">0</span>
                                )
                            </label>
                        </td>
                        <td>
                            <label for="dex-score">
                                DEX:
                                <br>
                                <input type="number" id="dex-score" min="1" max="20" value="10" onchange="updateMod('dex')">
                                (
                                <span id="dex-mod">0</span>
                                )
                            </label>
                        </td>
                        <td>
                            <label for="con-score">
                                CON:
                                <br>
                                <input type="number" id="con-score" min="1" max="20" value="10" onchange="updateMod('con')">
                                (
                                <span id="con-mod">0</span>
                                )
                            </label>
                        </td>
                        <td>
                            <label for="int-score">
                                INT:
                                <br>
                                <input type="number" id="int-score" min="1" max="20" value="10" onchange="updateMod('int')">
                                (
                                <span id="int-mod">0</span>
                                )
                            </label>
                        </td>
                        <td>
                            <label for="wis-score">
                                WIS:
                                <br>
                                <input type="number" id="wis-score" min="1" max="20" value="10" onchange="updateMod('wis')">
                                (
                                <span id="wis-mod">0</span>
                                )
                            </label>
                        </td>
                        <td>
                            <label for="cha-score">
                                CHA:
                                <br>
                                <input type="number" id="cha-score" min="1" max="20" value="10" onchange="updateMod('cha')">
                                (
                                <span id="cha-mod">0</span>
                                )
                            </label>
                        </td>
                    </tr>
                </tbody>
            </table>

            <!--Senses-->
            <table id="senses-form">
                <tbody>
                    <tr>
                        <td>
                            <label for="blindsight-input">
                                Blindsight:
                                <br>
                                <input type="number" id="blindsight-input" min="0" max="995" step="5" value="0">
                                 ft.
                            </label>
                        </td>
                        <td>
                            <lable for="darkvision-input">
                                Darkvision:
                                <br>
                                <input type="number" id="darkvision-input" min="0" max="995" step="5" value="0">
                                 ft.
                            </lable>
                        </td>
                        <td>
                            <lable for="tremorsense-input">
                                Tremorsense:
                                <br>
                                <input type="number" id="tremorsense-input" min="0" max="995" step="5" value="0">
                                 ft.
                            </lable>
                        </td>
                        <td>
                            <label for="truesite-input">
                                Truesite:
                                <br>
                                <input type="number" id="truesite-input" min="0" max="995" step="5" value="0">
                                 ft.
                            </label>
                        </td>
                    </tr>
                </tbody>
            </table>
            <!--cr and possibley languages at some point (not for this assignment though)-->
            <table>
                <tbody>
                    <tr>
                        <td>
                            <label for="cr-input">
                                Challenge Rating:
                                <br>
                                <input type="number" id="cr-input" min="0" max="100" value="1">
                            </label>
                        </td>
                    </tr>

                </tbody>
            </table>

        </div>