<nav id="nav">
	<ul class="navlist">
	     <li class="navitem navlink"><a href="/generator">Stat Block Generator</a></li>
	     <li class="navitem navlink"><a href="/gallery">Stat Block Gallery</a></li>
	</ul>
</nav>
