<nav id="nav">
		   <ul class="navlist">
	          <li class="navitem navlink"><a href="#">Stat Block Generator</a></li>
	          <li class="navitem navlink"><a href="#">Stat Block Gallery</a></li>
	        </ul>
        </nav>