<nav id="nav">
	<h1 class="title">The Dungeon Dictionary</h1>
	<ul class="navlist">
	     <li class="navitem navlink"><a href="/generator">Stat Block Generator</a></li>
	     <li class="navitem navlink"><a href="/gallery">Stat Block Gallery</a></li>
	</ul>
	
</nav>
